/*Reset all browser styling*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-title {
  border-style: solid;
  text-align: center;
  padding: 20px;
  margin: 10px;
}

.app-instructions {
  border-style: solid;
  text-align: center;
  padding: 20px;
  margin: 10px;
}

.image-button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.single-container-layout {
  display: flex;
  flex-direction: column;
  padding: 20px;
  row-gap: 20px;
}

.letter-button {
  width: 150px;
  height: 50px;
  margin-left: 100px;
  justify-content: center;
  font-size: 2rem;
  border-style: solid;
}

.image-hide-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border-style: solid;
  padding-bottom: 15px;
}

.image-hide-container img {
  width: 100%;
}

.image-hide-container button {
  display: flex;
  justify-content: center;
  margin-left: 75px;
  width: 200px;
}

.hide-button {
  padding: 5px;
  background-color: cadetblue;
  color: white;
  font-size: 1.3rem;
}

#image-hide-a {
  display: none;
}

#image-hide-b {
  display: none;
}

#image-hide-c {
  display: none;
}
